{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agneya</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>

<body>
    <h1 class="text-center text-primary"><a href="/" style="text-decoration:none">Agneya</a></h1><hr>

    <pre class="col-lg-4 col-lg-offset-4 lead text-center text-danger">Input Time Error!</pre>

</body>
</html>