{% load crispy_forms_tags %}
{% load staticfiles %}
{% load getDictVal %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agneya</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
</head>

<body>
    <h1 class="text-center text-primary"><a href="/agneya" style="text-decoration:none">Agneya</a></h1><hr>

    <!--<p align="center">{{ sunrise_time }}</p>
    <p align="center">{{ sunset_time }}</p>

    {% for item in hoara_list %}
        <p>{{ item }}</p>
    {% endfor %}-->

    <div class="table-responsive">
        <table class="table table-bordered text-center table-hover">
            <thead>
                   <tr>
                       <th>Start Time</th>
                       <th>End Time</th>
                       <th>Sunday</th>
                       <th>Monday</th>
                       <th>Tuesday</th>
                       <th>Wednesday</th>
                       <th>Thursday</th>
                       <th>Friday</th>
                       <th>Saturday</th>
                   </tr>
            </thead>
            <tbody>
                {% for start_time, end_time, sun, mon, tue, wed, thu, fri, sat in zipped_list %}
                <tr>
                    <td class="lead">{{ start_time }}</td>
                    <td class="lead">{{ end_time }}</td>

                    {% if hoara_dict|getDictVal:sun == "Good" %}
                        <td class="lead text-success">{{ hoara_dict|getDictVal:sun }}</td>
                    {% elif hoara_dict|getDictVal:sun == "Neutral" %}
                        <td class="lead text-info">{{ hoara_dict|getDictVal:sun }}</td>
                    {% elif hoara_dict|getDictVal:sun == "Bad" %}
                        <td class="lead text-danger">{{ hoara_dict|getDictVal:sun }}</td>
                    {% endif %}

                    {% if hoara_dict|getDictVal:mon == "Good" %}
                        <td class="lead text-success">{{ hoara_dict|getDictVal:mon }}</td>
                    {% elif hoara_dict|getDictVal:mon == "Neutral" %}
                        <td class="lead text-info">{{ hoara_dict|getDictVal:mon }}</td>
                    {% elif hoara_dict|getDictVal:mon == "Bad" %}
                        <td class="lead text-danger">{{ hoara_dict|getDictVal:mon }}</td>
                    {% endif %}

                    {% if hoara_dict|getDictVal:tue == "Good" %}
                        <td class="lead text-success">{{ hoara_dict|getDictVal:tue }}</td>
                    {% elif hoara_dict|getDictVal:tue == "Neutral" %}
                        <td class="lead text-info">{{ hoara_dict|getDictVal:tue }}</td>
                    {% elif hoara_dict|getDictVal:tue == "Bad" %}
                        <td class="lead text-danger">{{ hoara_dict|getDictVal:tue }}</td>
                    {% endif %}

                    {% if hoara_dict|getDictVal:wed == "Good" %}
                        <td class="lead text-success">{{ hoara_dict|getDictVal:wed }}</td>
                    {% elif hoara_dict|getDictVal:wed == "Neutral" %}
                        <td class="lead text-info">{{ hoara_dict|getDictVal:wed }}</td>
                    {% elif hoara_dict|getDictVal:wed == "Bad" %}
                        <td class="lead text-danger">{{ hoara_dict|getDictVal:wed }}</td>
                    {% endif %}

                    {% if hoara_dict|getDictVal:thu == "Good" %}
                        <td class="lead text-success">{{ hoara_dict|getDictVal:thu }}</td>
                    {% elif hoara_dict|getDictVal:thu == "Neutral" %}
                        <td class="lead text-info">{{ hoara_dict|getDictVal:thu }}</td>
                    {% elif hoara_dict|getDictVal:thu == "Bad" %}
                        <td class="lead text-danger">{{ hoara_dict|getDictVal:thu }}</td>
                    {% endif %}

                    {% if hoara_dict|getDictVal:fri == "Good" %}
                        <td class="lead text-success">{{ hoara_dict|getDictVal:fri }}</td>
                    {% elif hoara_dict|getDictVal:fri == "Neutral" %}
                        <td class="lead text-info">{{ hoara_dict|getDictVal:fri }}</td>
                    {% elif hoara_dict|getDictVal:fri == "Bad" %}
                        <td class="lead text-danger">{{ hoara_dict|getDictVal:fri }}</td>
                    {% endif %}

                    {% if hoara_dict|getDictVal:sat == "Good" %}
                        <td class="lead text-success">{{ hoara_dict|getDictVal:sat }}</td>
                    {% elif hoara_dict|getDictVal:sat == "Neutral" %}
                        <td class="lead text-info">{{ hoara_dict|getDictVal:sat }}</td>
                    {% elif hoara_dict|getDictVal:sat == "Bad" %}
                        <td class="lead text-danger">{{ hoara_dict|getDictVal:sat }}</td>
                    {% endif %}

                </tr>
                {% endfor %}

            </tbody>
        </table>


</body>
</html>