{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agneya</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
</head>

<body>
    <h1 class="text-center text-primary"><a href="/agneya" style="text-decoration:none">Agneya</a></h1><hr>

    <div>
        <div style="inline; float:right">
            <br><br><br><br>
            <iframe
                src="http://www.mypanchang.com/mypanchangwidget.php"
                scrolling="no" width="230px" height="240px" frameborder="0"
                style="border:none;text-align:center" allowTransparency="true">
            </iframe>
        </div>

        {% block content %}
            <div class="col-lg-4 col-lg-offset-4 text-center" style="inline">
                    {% crispy form %}
            </div>
        {% endblock %}
    </div>


</body>
</html>